*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Conformataa", sans-serif
}

fieldset{
    color:black;
    border:solid 6px rgb(27, 28, 29);
    background-color: rgba(0,5,0, 0.38);
    padding: 20px;
    margin: 20px;
}
fieldset legend {
    color: white;
    font-size: 25px;
}

.dadPessoas{
    background-color: rgba(141, 150, 141, 0.411);
    color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgba(0,5,0, 0.69);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: rgba(0,5,0, 0.90);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}